DAEMON_OPTS="--workers {{ gunicorn['num_workers'] }} --capture-output \
    --access-logfile {{ gunicorn['working_dir'] }}/logs/access.log \
    --error-logfile {{ gunicorn['working_dir'] }}/logs/error.log \
    --user {{ gunicorn['user'] }} --group {{ gunicorn['group'] }} \
    validator.app:app"
