DAEMON_OPTS="--workers 5 --capture-output \
    --access-logfile {{ gunicorn['working_dir'] }}/logs/access.log \
    --error-logfile {{ gunicorn['working_dir'] }}/logs/error.log \
    --user {{ gunicorn['user'] }} --group {{ gunicorn['group'] }} \
    app:app"
