[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
EnvironmentFile=-/etc/default/gunicorn
PIDFile=/run/gunicorn/pid
User={{ gunicorn['user'] }}
Group={{ gunicorn['group'] }}
RuntimeDirectory={{ gunicorn['runtime_dir'] }}
WorkingDirectory={{ gunicorn['working_dir'] }}
ExecStart={{ gunicorn['gunicorn'] }} $DAEMON_OPTS
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
